{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div style="margin-top: 30px">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><b>Profile Info</b></legend>
            {{ u_form| crispy }}
            {{ p_form| crispy }}
        </fieldset>
        <div class="from-group" style="margin-top: 20px">
            <button class="btn btn-outline-info" style="color: #0C4B33" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock %}